$textColor: black;
$headerHeight: 90px;
$defaultFont: 'Roboto', sans-serif;
$specialFont: 'Oswald', sans-serif;

body,html{
	height:100%;
}

body{

	font-family: 'Roboto', sans-serif;

color: $textColor;
	min-height:100vh;
	margin:0px;

header{
    width: 100%;
    background: white;
    transition: all 1s ease;
    top: 0px;
    z-index: 99;

	nav{

		max-width: 1200px;
		margin: auto;

	ul{
		list-style: none;
		padding:0px;
		display: flex;
		width: 100%;
		flex-direction: row;
		 justify-content: center;
		 align-items: center;
         margin: 0px;

		li{
			flex-basis: 20%;
			text-align: center;
			font-weight: bold;
			a{
				color: black;
				text-decoration: none;
				text-transform: uppercase;
				display: inline-block;
				font-weight: bold;
                opacity:0;
                transition: 1s ease all;

			}

			img{
				max-height: 100px;
				display: block;
				margin: auto;
			}

            h3{
                font-size: 50px;
                margin:5px 0px;
                transition: 1s ease all;
            }
		}
	}

}

}

.left-info{
	float:left;
	width:70%;
}

.right-info{
	float:right;
	width:30%;
}

article{

	    min-height: 100vh;
    background-color: #f5deb3;
    border: 30px white solid;
    border-top: none;
    padding: 10vh 0vh;

    .fullH{
        height: 100vh;

        .project-scroll{
            transition: 1s ease all;
            opacity: 0;
    height: 426px;
    width: 850px;
    background-size: contain;

            h1{
    position: absolute;
    font-size: 60px;
    text-transform: uppercase;
    color: #ec9a00;
    text-shadow: 1px 1px #ca8300;
    margin: 0px;

}
        }
    }

    #me{

    width: 420px;
    height: 450px;
    position:relative;

    h1{
    position: absolute;
    right: -600px;
    left: 339px;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px #ca8300;
    margin:     0px;
        }

    p{
position: absolute;
    right: -600px;
    top: 180px;
    left: 339px;
    font-size: 45px;
    /* text-transform: uppercase; */
    color: white;
    text-shadow: 1px 1px #ca8300;
    margin:0px;
    transition: 1s ease all;

    }



    }

    .container{
    	width: 80%;
    	margin: auto;

    	.referens-item{
    		margin: 90px auto;
    		img{
    			max-width: 100%;
    			height: auto;
    			display: block;
    			margin: auto;
    		}
    	}
    }

    .cont-wrap{
    	max-width: 1200px;
    	margin: auto;
    }

    .title{
    	position: relative;
    	color: white;
    	font-size: 50px;

    	&:before{
    		content: "";
    		position: absolute;
    		height: 3px;
    		width: 150px;
    		left: 0px;
    		top: 0px;
    		bottom: 0px;
    		margin: auto;
    	}
    	&:after{

    	}
    }

    .project-section{

    			display: flex;
		width: 100%;
		flex-direction: row;
		 justify-content: center;
		 align-items: center;

		 flex-wrap: wrap;

    .project{

    	background-color:white;
    	height: 200px;
    	width: 25%;

    }
}


}

}
