$textColor: black;
$headerHeight: 90px;
$defaultFont: 'Roboto', sans-serif;
$specialFont: 'Oswald', sans-serif;

body,html{
	height:100%;
}

body{

	font-family: 'Roboto', sans-serif;

color: $textColor;
	min-height:100vh;
	margin:0px;

header{
    width: 100%;
    background: white;
    transition: all 1s ease;
    top: 0px;
    z-index: 99;

	nav{

		max-width: 1200px;
		margin: auto;

	ul{
		list-style: none;
		padding:0px;
		display: flex;
		width: 100%;
		flex-direction: row;
		 justify-content: center;
		 align-items: center;
         margin: 0px;

		li{
			flex-basis: 20%;
			text-align: center;
			font-weight: bold;
			a{
				color: black;
				text-decoration: none;
				text-transform: uppercase;
				display: inline-block;
				font-weight: bold;
                opacity:0;
                transition: 1s ease all;

			}

			img{
				max-height: 100px;
				display: block;
				margin: auto;
			}

            h3{
                font-size: 50px;
                margin:5px 0px;
                transition: 1s ease all;
            }
		}
	}

}

}

/*PROGRESSION STYLES*/

.prog-container{


        position: absolute;
    height: 100%;
    pointer-events: all;
    left: 3.5%;

    .bar.unactive{
        height: 100%;
        background:gray;
        position:fixed;
        width: 1px;
    }

#page-prog{

        position: relative;
    height: 100%;


    li{
        height: 10%;
    }

}

}

.left-info{
	float:left;
	width:70%;
}

.right-info{
	float:right;
	width:30%;
}



article{

	    min-height: 100vh;
    background-color: #f5deb3;
    border: 30px white solid;
    border-top: none;
    padding: 10vh 0vh;

    .fullH{
        height: 100vh;
            display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;

        .project-scroll{

            transition: 1s ease all;
            opacity: 0;
    height: 426px;
    width: 850px;
    background-size: contain;

    .text{
        right: -350px;
        position: absolute;
        color: #ec9a00;
    text-shadow: 1px 1px #ca8300;
    margin: 0px;

    a {
    background-color: #ec9a01;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    text-shadow: none;
}

@media(max-width:1250px){
    left: 0px;
}

    }

            h1{
    font-size: 60px;
    text-transform: uppercase;
    color: #ec9a00;
    text-shadow: 1px 1px #ca8300;
    margin: 0px;

}
        }
    }



    #3{
        .project-scroll{
            float: right;


        }
    }

    #me{

    width: 420px;
    height: 450px;
    position:relative;

    h1{
    position: absolute;
    right: -600px;
    left: 339px;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px #ca8300;
    margin:     0px;
        }

    p{
position: absolute;
    right: -600px;
    top: 180px;
    left: 339px;
    font-size: 45px;
    /* text-transform: uppercase; */
    color: white;
    text-shadow: 1px 1px #ca8300;
    margin:0px;
    transition: 1s ease all;

    }



    }

    .container{
    	width: 80%;
    	margin: auto;

    	.referens-item{
    		margin: 90px auto;
    		img{
    			max-width: 100%;
    			height: auto;
    			display: block;
    			margin: auto;
    		}
    	}
    }

    .cont-wrap{
    	max-width: 1200px;
    	margin: auto;
    }

    .title{
    	position: relative;
    	color: white;
    	font-size: 50px;

    	&:before{
    		content: "";
    		position: absolute;
    		height: 3px;
    		width: 150px;
    		left: 0px;
    		top: 0px;
    		bottom: 0px;
    		margin: auto;
    	}
    	&:after{

    	}
    }

    .project-section{

    			display: flex;
		width: 100%;
		flex-direction: row;
		 justify-content: center;
		 align-items: center;

		 flex-wrap: wrap;

    .project{

    	background-color:white;
    	height: 200px;
    	width: 25%;

    }
}


}



}

section#one{
        justify-content: flex-start;

        #me{
            align-self:baseline;
        }
    }

.bot-section{



    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;

    .social-row{

            display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;



    i{
        background-color:#cea965;
        font-size: 30px;
        color: white;
        border-radius:50%;
        padding:35px;
        margin-right: 15px;
        transition: 0.5s ease all;


        &:hover{
            background-color:yellow;
            cursor: pointer;
        }

    }

        }

section#about {

     align-self:stretch;

    flex-basis: 40%;

    h1{
        font-size: 40px;
        padding-bottom:5px;
        font-weight: bold;
        margin: 0px

    }

}

section#kontakt{

    flex-basis: 50%;
    align-self:center;

    input[type="text"]{
    display: block;
    width: 90%;
    background: none;
    color: #f5deb3;
    border: none;
    border-bottom: 5px solid white;
    margin: 10px 0px;
    height: 30px;
    font-size: 30px;
    transition: 1s ease all;

    &:focus{
        outline: -none;
        background-color:white;
    }
    }

    input[placeholder]{
        color: #ec9a00;
    }

    textarea{
        margin-top: 30px;
        border:none;
        width: 90%;
        font-size: 30px;
        height: 90px;
    }

    input[type="submit"]{
    margin-top: 30px;
    background: rgba(255, 255, 255, 0);
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    text-shadow: 1.5px 1.5px 6px rgb(189, 171, 138);
    border: none;
    border: 3px solid white;
    transition: 2s ease all;

    &:hover{
        background-color:yellow;
        cursor: pointer;
    }
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ec9a00;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ec9a00;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ec9a00;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ec9a00;
}

}

}
