body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  min-height: 100vh;
  margin: 0px;
}

body header nav {
  max-width: 1200px;
  margin: auto;
}

body header nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body header nav ul li {
  flex-basis: 20%;
  text-align: center;
  font-weight: bold;
}

body header nav ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

body header nav ul li img {
  max-height: 100px;
  display: block;
  margin: auto;
}

body article {
  min-height: 100vh;
  background-color: #f5deb3;
  border: 30px white solid;
  border-top: none;
  padding: 10vh 0vh;
}

body article .container {
  width: 80%;
  margin: auto;
}

body article .container .referens-item {
  margin: 90px auto;
}

body article .container .referens-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

body article .cont-wrap {
  max-width: 1200px;
  margin: auto;
}

body article .title {
  position: relative;
  color: white;
  font-size: 50px;
}

body article .title:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 150px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

body article .project-section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

body article .project-section .project {
  background-color: white;
  height: 200px;
  width: 25%;
}
