body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  min-height: 100vh;
  margin: 0px;
  /*PROGRESSION STYLES*/
}

body header {
  width: 100%;
  background: white;
  transition: all 1s ease;
  top: 0px;
  z-index: 99;
}

body header nav {
  max-width: 1200px;
  margin: auto;
}

body header nav ul {
  list-style: none;
  padding: 0px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

body header nav ul li {
  flex-basis: 20%;
  text-align: center;
  font-weight: bold;
}

body header nav ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  opacity: 0;
  transition: 1s ease all;
}

body header nav ul li img {
  max-height: 100px;
  display: block;
  margin: auto;
}

body header nav ul li h3 {
  font-size: 50px;
  margin: 5px 0px;
  transition: 1s ease all;
}

body .prog-container {
  position: absolute;
  height: 100%;
  pointer-events: all;
  left: 3.5%;
}

body .prog-container .bar.unactive {
  height: 100%;
  background: gray;
  position: fixed;
  width: 1px;
}

body .prog-container #page-prog {
  position: relative;
  height: 100%;
}

body .prog-container #page-prog li {
  height: 10%;
}

body .left-info {
  float: left;
  width: 70%;
}

body .right-info {
  float: right;
  width: 30%;
}

body article {
  min-height: 100vh;
  background-color: #f5deb3;
  border: 30px white solid;
  border-top: none;
  padding: 10vh 0vh;
}

body article .fullH {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

body article .fullH .project-scroll {
  transition: 1s ease all;
  opacity: 0;
  height: 426px;
  width: 850px;
  background-size: contain;
}

body article .fullH .project-scroll .text {
  right: -350px;
  position: absolute;
  color: #ec9a00;
  text-shadow: 1px 1px #ca8300;
  margin: 0px;
}

body article .fullH .project-scroll .text a {
  background-color: #ec9a01;
  color: #ffffff;
  padding: 5px;
  text-decoration: none;
  text-shadow: none;
}

@media (max-width: 1250px) {
  body article .fullH .project-scroll .text {
    left: 0px;
  }
}

body article .fullH .project-scroll h1 {
  font-size: 60px;
  text-transform: uppercase;
  color: #ec9a00;
  text-shadow: 1px 1px #ca8300;
  margin: 0px;
}

body article #3 .project-scroll {
  float: right;
}

body article #me {
  width: 420px;
  height: 450px;
  position: relative;
}

body article #me h1 {
  position: absolute;
  right: -600px;
  left: 339px;
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px #ca8300;
  margin: 0px;
}

body article #me p {
  position: absolute;
  right: -600px;
  top: 180px;
  left: 339px;
  font-size: 45px;
  /* text-transform: uppercase; */
  color: white;
  text-shadow: 1px 1px #ca8300;
  margin: 0px;
  transition: 1s ease all;
}

body article .container {
  width: 80%;
  margin: auto;
}

body article .container .referens-item {
  margin: 90px auto;
}

body article .container .referens-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

body article .cont-wrap {
  max-width: 1200px;
  margin: auto;
}

body article .title {
  position: relative;
  color: white;
  font-size: 50px;
}

body article .title:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 150px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

body article .project-section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

body article .project-section .project {
  background-color: white;
  height: 200px;
  width: 25%;
}

section#one {
  justify-content: flex-start;
}

section#one #me {
  align-self: baseline;
}

.bot-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.bot-section .social-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.bot-section .social-row i {
  background-color: #cea965;
  font-size: 30px;
  color: white;
  border-radius: 50%;
  padding: 35px;
  margin-right: 15px;
  transition: 0.5s ease all;
}

.bot-section .social-row i:hover {
  background-color: yellow;
  cursor: pointer;
}

.bot-section section#about {
  align-self: stretch;
  flex-basis: 40%;
}

.bot-section section#about h1 {
  font-size: 40px;
  padding-bottom: 5px;
  font-weight: bold;
  margin: 0px;
}

.bot-section section#kontakt {
  flex-basis: 50%;
  align-self: center;
}

.bot-section section#kontakt input[type="text"] {
  display: block;
  width: 90%;
  background: none;
  color: #f5deb3;
  border: none;
  border-bottom: 5px solid white;
  margin: 10px 0px;
  height: 30px;
  font-size: 30px;
  transition: 1s ease all;
}

.bot-section section#kontakt input[type="text"]:focus {
  outline: -none;
  background-color: white;
}

.bot-section section#kontakt input[placeholder] {
  color: #ec9a00;
}

.bot-section section#kontakt textarea {
  margin-top: 30px;
  border: none;
  width: 90%;
  font-size: 30px;
  height: 90px;
}

.bot-section section#kontakt input[type="submit"] {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0);
  color: white;
  font-size: 20px;
  padding: 15px 25px;
  text-shadow: 1.5px 1.5px 6px #bdab8a;
  border: none;
  border: 3px solid white;
  transition: 2s ease all;
}

.bot-section section#kontakt input[type="submit"]:hover {
  background-color: yellow;
  cursor: pointer;
}

.bot-section section#kontakt ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ec9a00;
}

.bot-section section#kontakt :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ec9a00;
  opacity: 1;
}

.bot-section section#kontakt ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ec9a00;
  opacity: 1;
}

.bot-section section#kontakt :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ec9a00;
}
